<table>
    <tr>
        <th>Name</th>
        <th>DLEs</th>
        <th>Tapes</th>
        <th>Runs</th>
    </tr>
    <% @configs.each do |config| %>
        <tr>
            <td><%= link_to config.name, :method => :config, :id => config.id %></td>
            <td>
                <% config.dles.each do |dle| %>
                    <%= link_to "#{dle.host}/#{dle.disk}", :method => :dle, :id => dle.id %><br />
                <% end %>
            </td>
            <td>
                <% config.tapes.each do |tape| %>
                    <%= link_to tape.name, :method => :tape, :id => tape.id %><br />
                <% end %>
            </td>
            <td>
                <% Run.find_all_by_amanda_config_id(config.id, :limit => 15, :order => :date).each do |run| %>
                    <%= link_to run.date.to_s, :method => :run, :id => run.id %><br />
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

